In [143]:
import numpy as np
import pandas as pd
from collections import Counter

In [144]:
data = pd.read_csv('input_train.csv')
output = pd.read_csv('challenge_output_data_training_file_prediction_of_transaction_claims_status.csv')

In [145]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 22 columns):
ID                      100000 non-null int64
SHIPPING_MODE           99685 non-null object
SHIPPING_PRICE          32390 non-null object
WARRANTIES_FLG          100000 non-null bool
WARRANTIES_PRICE        3397 non-null object
CARD_PAYMENT            100000 non-null int64
COUPON_PAYMENT          100000 non-null int64
RSP_PAYMENT             100000 non-null int64
WALLET_PAYMENT          100000 non-null int64
PRICECLUB_STATUS        99943 non-null object
REGISTRATION_DATE       100000 non-null int64
PURCHASE_COUNT          100000 non-null object
BUYER_BIRTHDAY_DATE     94164 non-null float64
BUYER_DEPARTMENT        100000 non-null int64
BUYING_DATE             100000 non-null object
SELLER_SCORE_COUNT      99994 non-null object
SELLER_SCORE_AVERAGE    99994 non-null float64
SELLER_COUNTRY          100000 non-null object
SELLER_DEPARTMENT       100000 non-null int64
PRODUCT_TYPE            100000 non-null object
PRODUCT_FAMILY          100000 non-null object
ITEM_PRICE              100000 non-null object
dtypes: bool(1), float64(2), int64(8), object(11)
memory usage: 16.1+ MB

SHIPPING_PRIVE : drop cette variable car on a seulement 3% des input qui ne sont pas des nans.       
WARRANTIES_PRICE : pareil.

In [146]:
data = data.drop(columns=['SHIPPING_PRICE', 'WARRANTIES_PRICE'])

SHIPPING_MODE : 99685 / 100000 nans, on les remplace par la valeur la plus fréquente.

In [147]:
data['SHIPPING_MODE'].unique()

array(['NORMAL', 'RECOMMANDE', 'EXPRESS_DELIVERY', 'SUIVI',
       'SO_RECOMMANDE', 'MONDIAL_RELAY', 'MONDIAL_RELAY_PREPAYE',
       'SO_POINT_RELAIS', nan, 'CHRONOPOST', 'PICKUP', 'Kiala'],
      dtype=object)

In [148]:
Counter(data['SHIPPING_MODE'])

Counter({'NORMAL': 66592,
         'RECOMMANDE': 18585,
         'EXPRESS_DELIVERY': 379,
         'SUIVI': 6955,
         'SO_RECOMMANDE': 771,
         'MONDIAL_RELAY': 2238,
         'MONDIAL_RELAY_PREPAYE': 1736,
         'SO_POINT_RELAIS': 2175,
         nan: 315,
         'CHRONOPOST': 151,
         'PICKUP': 101,
         'Kiala': 2})

In [149]:
data['SHIPPING_MODE'] = data['SHIPPING_MODE'].fillna('NORMAL')

PRICECLUB_STATUS : 99943 / 100000 nans, on remplace par la valeur la plus fréquente.

In [150]:
Counter(data['PRICECLUB_STATUS'])

Counter({'UNSUBSCRIBED': 61524,
         'PLATINUM': 17511,
         'SILVER': 3725,
         'REGULAR': 11574,
         'GOLD': 5609,
         nan: 57})

In [151]:
data['PRICECLUB_STATUS'] = data['PRICECLUB_STATUS'].fillna('UNSUBSCRIBED')

On remplace par la date de naissance moyenne. 
BUYER_BIRTHDAY_DATE : 94164 / 100000

In [152]:
birthday_mean = int(data['BUYER_BIRTHDAY_DATE'].mean())
data['BUYER_BIRTHDAY_DATE'] = data['BUYER_BIRTHDAY_DATE'].fillna(birthday_mean)

SELLER_SCORE_COUNT : 99994 / 100000 nans.

In [153]:
Counter(data['SELLER_SCORE_COUNT'])

Counter({'10000<100000': 31104,
         '1000<10000': 30372,
         '100000<1000000': 26894,
         '100<1000': 9539,
         '<100': 2085,
         nan: 6})

On remplace les nans par ['10000<100000', '1000<10000', '100000<1000000','10000<100000', '1000<10000', '100000<1000000']  
pour respecter les proportions initiales.

In [154]:
data.loc[data['SELLER_SCORE_COUNT'].isna(), 'SELLER_SCORE_COUNT'] = ['10000<100000', '1000<10000', '100000<1000000','10000<100000', '1000<10000', '100000<1000000']

On remplace les nan de SELLER_SCORE_AVERAGE par la moyenne des valeurs pour le SELLER_SCORE_COUNT correspondant.

In [155]:
d = data[['SELLER_SCORE_COUNT', 'SELLER_SCORE_AVERAGE']]
m1 = int(d.loc[d['SELLER_SCORE_COUNT'] == '10000<100000', 'SELLER_SCORE_AVERAGE'].mean())
m2 = int(d.loc[d['SELLER_SCORE_COUNT'] == '1000<10000', 'SELLER_SCORE_AVERAGE'].mean())
m3 = int(d.loc[d['SELLER_SCORE_COUNT'] == '100000<1000000', 'SELLER_SCORE_AVERAGE'].mean())
data.loc[data['SELLER_SCORE_AVERAGE'].isna(), 'SELLER_SCORE_AVERAGE'] = [m1, m2, m3, m1, m2, m3]

Train / Test split.

In [158]:
train = data.iloc[:80000,:]
test = data.iloc[80000:,:]